<div >
  Today date is: {{currentDate | date:'short'}}
</div>

<p>
  Added to Cart: {{totalAmountOfProducts}}
</p>
<p>
  Total amount: {{totalPrice}}
</p>
<button *ngIf='!isEmptyList' (click)='clearCart()' type="button" >{{clearCartButtonTitle}}</button>

<p></p>
<div *ngIf='!isEmptyList'>Sort by:
<select (change)="sortBy($event)">
  <option *ngFor="let key of keys" >{{key}}</option>
</select></div>
<p></p>

<app-cart-item
    *ngFor="let product of products | orderBy : filterargs"
    [product] = "product"
    >
</app-cart-item>

<div *ngIf='isEmptyList' >
    The cart is empty
  </div>
